body {
    font-family: monospace;
    background-image: url("/static/bg.jpg");
    background-repeat: repeat;
    color: #111;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 1.4;
}

#box {
    display: inline-block;
    text-align: left;
    width: 80ch;
    padding: 2em;
    background-color: #eee;
    position: relative;
    margin-top: 4em;
}

.alert {
    font-weight: bold;
}