<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/icon.png') }}">
</head>
<body>
    <div id="box">
        <pre>
   _____                   _                  _____            _____       _
  |     |___ _____ ___ _ _| |_ ___ ___ ___   |  _  |___ ___   | __  |___ _| |
  |   --| . |     | . | | |  _| -_|  _|_ -|  |     |  _| -_|  | __ -| .'| . |
  |_____|___|_|_|_|  _|___|_| |___|_| |___|  |__|__|_| |___|  |_____|__,|___|
  a newsletter by |_| <a href="https://jbcrawford.us">j. b. crawford</a>               <a href="https://computer.rip/">home</a> <a href="https://computer.rip/archive.html">archive</a> <a href="https://maleman.computer.rip/">subscribe</a> <a href="https://computer.rip/rss.xml">rss</a>
        </pre>
			</header>
    {% block body %}
        <p>{{ message|safe }}</p>
    {% endblock %}
    </div>
</body>
</html>