{% extends "main.html" %}
{% set title = "Subscribe to Computers Are Bad" %}

{% block body %}
    <h2>Subscribe to Computers Are Bad</h2>
    <p>You'll receive an email every time there's a new post, about once a week if I'm not playing too
        many video games. It's sort of like Substack but free.
        All email is plaintext and thus very spectrally efficient, although admittedly not very
        aesthetically pleasing.</p>

    {% if message %}
    <p></p><span class="alert">{{ message|safe }}</span></p>
    {% endif %}

    <form method="POST">
        <label for="email">Email:</label><input type="email" placeholder="rms@gnu.org" name="email" size="50">
        {{ hcaptcha }}
        <button type="submit">Subscribe</button>
    </form>

    <p>I sincerely apologize for the hCaptcha but some dumb credential stuffer has been shoveling emails into this form.
    Then people hit the spam report button on the confirmation emails and my gateway provider gets upset with me for
    harming their IP reputation. This is why we can't have nice things.</p>
{% endblock %}
