{% extends "main.html" %}
{% set title = "Computers Are Bad" %}

{% block body %}
    <p>You have been unsubscribed. While we deeply regret losing you, it is unlikely that you will be personally
    missed.</p>
    <p>If you've done this by mistake, or you're just reconsidering your actions and the impacts that they have on
    others, you can <a href="/">subscribe again.</a></p>
{% endblock %}
