{% extends "main.html" %}
{% set title = "Unsubscribe from Computers Are Bad" %}

{% block body %}
<h2>Unsubscribe</h2>
<p>Sometimes questionable email providers retrieve URLs in emails automatically, so please prove that
    you're really real by completing the following difficult challenge.</p>

<form method="POST">
    <input type="hidden" name="email" value="{{ email }}">
    <input type="hidden" name="token" value="{{ token }}">
    <button type="submit">Unsubscribe</button>
</form>
{% endblock %}
